:root {
  --color-bg: #253334;
  --color-text: #ffffff;
  --color-card: #f7f3f0;
  --color-text-inverted: #000000;
  --color-hover: #69b09c;
  --color-bg-dark: #202728;
  --color-btn: #7c9a92;
}

body {
  color: var(--color-text);
  background: var(--color-bg);
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 12px;
}
